@font-face {
    font-family: 'Circular-std';
    src: url(../fonts/circular-std-medium-500.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}